.footer {
  background-color: #0a2850;
  color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}
.footer__circle {
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: -1;
}
.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-heading {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}
.footer__copyright {
  margin: 0;
  padding-top: 108px;
  font-size: 16px;
}
