.form__fieldset {
  max-width: 385px;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  margin-bottom: 8px;
  font-weight: 500;
}

.form__input {
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  padding: 15px 20px;
  border: 1px solid #838383;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__input,
.form__button {
  box-sizing: border-box;
  width: 100%;
}

.form__button {
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.3s;
  height: 60px;
  background-color: #2f80ed;
  color: #fff;
  margin-bottom: 32px;
  font-weight: 500;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #838383;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.form__checkbox:checked {
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  gap: 12px;
}
