.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  box-sizing: border-box;
  padding: 30px 80px 40px 30px;
}

.header__title {
  max-width: 709px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin-left: 50px;
  margin-top: 183px;
}

.header__title span {
  display: block;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-left: 50px;
  margin-top: 28px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  padding-top: 80px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.header__paragraph {
  font-weight: 500;
  color: #838383;
  margin: 0;
}

.header__footer-schedule {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.header__paragraph_address {
  margin-left: auto;
  margin-right: 80px;
  font-weight: 500;
  color: #838383;
}
