.nav {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: 0.25s ease;
}
.nav__link:hover {
  color: #2f80ed;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin-top: 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}
