.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.page__content {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
