.recipes {
  padding: 100px 80px 215px 80px;
}

.recipes__title {
  max-width: 580px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-bottom: 80px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  width: 1000px;
  display: flex;
  column-gap: 40px;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.recipes__video-item {
  width: 480px;
  height: 273px;
}

.recipes__iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin-bottom: 24px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
